<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
    <!-- Styles -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-app="myModule">
<div class="container" ng-controller="UserController">
    <div class="page-header">
        <h1 class="h1">AngularJS Workshop <small>Model, View, View-Model (MVVM)!</small></h1>
    </div>

    <div class="row center-block">
        <div class="col-md-3">
            <form>
                <input type="text" class="form-control" ng-model="user.name" placeholder="Vorname..." />
                <input type="text" class="form-control" ng-model="user.lastName" placeholder="Nachname..." />
            </form>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Name: {{user.name}}</li>
                <li class="list-group-item list-group-item-info">Vorname: {{user.lastName}}</li>
            </ul>
        </div>
    </div>

    <hr/>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="app.js"></script>

</body>
</html>
