<div class="panel panel-default">
    <div class="panel panel-heading">Werte in der Direktive</div>
    <div class="panel panel-body">
        UserName in der Direktive: {{userNameInD}} <br/>
        Email in der Direktive: {{emailInD}}<br/>
        Name in der Direktive: {{name}} <br/>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel panel-heading">Ändern in der Direktive</div>
    <div class="panel panel-body">
        <div class="form-group">
            <input type="text" ng-model="userNameInD" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="text" ng-model="emailInD" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="text" id="name-value-d" class="form-control"/>
            <button class="form-control btn-success" ng-click="setNameByForm();">
                Set name
            </button>
        </div>
    </div>
</div>
